################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/im1/.vs/im1
/im1/im1/x64/Debug
/im1/x64/Debug
